<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="Stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>

    <nav>
      <a href="/login"><p>Login</p></a>
      <a href="/register"><p>Register</p></a>
      <a href="/home"><p>Home</p></a>
    </nav>

  </body>
</html>
