<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snippets by Language</title>
    <link rel="Stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>

    <nav>
      <a href="/login"><h3>Login</h3></a>
      <a href="/register"><h3>Register</h3></a>
      <a href="/home"><h3>Home</h3></a>
      <a href="/logout"><h3>Logout</h3></a>
    </nav>

    <div class="container">

      <form action="/snippetlang" method="GET">
        <select name="language">
          <option value="Javascript">Javascript</option>
          <option value="HTML/CSS">HTML/CSS</option>
          <option value="Java">Java</option>
          <option value="Ruby">Ruby</option>
          <option value="C#">C#</option>
        </select>
        <button type="submit">Search</button>
      </form>

      <div>
        <ul>
          {{ #snippetlang }}
          <li>
            {{ title }} | {{ code }} | {{ notes }} | {{ language }} | {{ tags }}
          </li>
          {{ /snippetlang }}
        </ul>
      </div>

    </div>

  </body>
</html>
